<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employees Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 70%;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #444;
            padding: 8px 12px;
            text-align: center;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>

<body>
    <h2 style="text-align : center;">Employees List</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Salary</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="emp : ${employees}">
                <td th:text="${emp.empId}">1</td>
                <td th:text="${emp.empName}">John</td>
                <td th:text="${emp.empGender}">Male</td>
                <td th:text="${emp.empSalary}">50000</td>
                <td th:text="${emp.empCountry}">India</td>
            </tr>
        </tbody>
    </table>
</body>

</html>
